.Nav{
    height:100px ;
    background-color: rgb(242, 0, 255);
    text-align: center;
}
.Hero{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    height: 200px ;
    text-align: center;
}
.Content{
    background-color: rgb(242, 0, 255);
    color:white ;
    height: 150px ;
}
.footer{
    height: 100px ;
    background-color: rgb(0, 0, 0);
}
button{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    text-align: center;
}
button:hover{
    background-color: rgb(92, 92, 92);
    color: rgb(106, 106, 106);
}