/* Reset & basics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f7fc;
    color: #333;
}

/* Navigation */
.Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: cornflowerblue;
    color: white;
}

.Nav .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.Nav nav a {
    color: white;
    margin-left: 1.5rem;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.Nav nav a:hover {
    text-decoration: underline;
}

/* Hero Section */
.Hero {
    background-image: url('https://plus.unsplash.com/premium_photo-1668473366952-45f06fbf6492?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    text-align: center;
}

.Hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: rgb(0, 0, 0);
}

.Hero  p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: rgb(0, 0, 0);
}

.btn-primary {
    padding: 0.8rem 1.5rem;
    background-color: cornflowerblue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-primary:hover {
    background-color: #e68a00;
}

/* Content*/
.Content {
    padding: 3rem 2rem;
    text-align: center;
}

.Content h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: cornflowerblue;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.service-card {
    background-color: white;
    padding: 1.5rem;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.service-card h3 {
    margin-bottom: 1rem;
    color: cornflowerblue;
}

.Footer {
    background: #1a1a1a;
    color: white;
    text-align: center;
    padding: 20px 15px;
    margin-top: 40px;
}

.footer-content {
    max-width: 900px;
    margin: auto;
}

.footer-info {
    font-size: 0.9rem;
    color: #dcdcdc;
    margin-top: 8px;
    line-height: 1.5;
}
.Footer-nav{
    color: white;
    background-color: #dcdcdc;
}

.Lets-Go {
    display: flex;
    align-items: center;
    gap: 11px;
}