
 * {
    margin:3px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background: #ffffff;
}


.Nav {
     background: linear-gradient(to right, #0088ff, #0280ff);
    padding: 15px 30px;
    display: flex;
    gap: 25px;
}

.Nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s ease;
}

.Nav a:hover {
    color: #66b2ff;
}


.Hero {
    background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&auto=format&fit=crop&w=1470&q=80');
    background-size: cover;
    background-position: center;

    color: white;
    padding: 80px 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.Hero h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.Content {
    max-width: 900px;
    margin: 40px auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
    height:200px ;
}

p {
    line-height: 1.7;
    font-size: 1.1rem;
    color: #555;
}

.Footer {
     background: linear-gradient(to right, #0088ff, #0280ff);
    height: 80px;
    margin-top: 40px;
}